<div class="modal-header">
  <h4 class="modal-title">Möchtest du den Nutzer löschen?</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="d()">JA</button>
  <button type="button" class="btn btn-outline-dark"
          (click)="activeModal.dismiss()">NEIN
  </button>
</div>
