<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{user.firstName}}<br>{{user.lastName}}</h5>
    <h5 class="card-text">{{user.creationTime | date}}</h5>
    <a href="#" class="btn btn-danger" (click)="add.emit()">Bearbeiten</a>
    <a href="#" class="btn btn-warning" (click)="loeschen.emit()">Löschen</a>
  </div>
</div>
