<div class="container" style="margin-top: 10vh">
  <h1 style="margin-bottom: 5vh">Usermanager</h1>
  <button style="margin-bottom: 5vh" class="btn btn-secondary" (click)="dataService.insertuser()">New</button>
  <div class="row">
    <div class="col-sm-6">
      <div *ngFor="let item of dataService.userList; let i = index" class="m-2">
        <app-todo-item [user]="item" (destroy)="dataService.destroy(i)" (loeschen)="dataService.loeschen(i)"
                       (add)="dataService.add(item.id,item.username,item.firstName,item.lastName,item.creationTime,item.rights)"></app-todo-item>
      </div>
    </div>
  </div>
</div>
