<div class="modal-header">
  <h4 class="modal-title">Einen neuen Nutzer hinzufügen:</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="itemInput">Username:</label>
    <input type="text" class="form-control" id="itemInput"  [(ngModel)]="user.username">
  </div>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="itemInput1">Vorname:</label>
    <input type="text" class="form-control" id="itemInput1"  [(ngModel)]="user.firstName">
  </div>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="itemInput2">Nachname:</label>
    <input type="text" class="form-control" id="itemInput2"  [(ngModel)]="user.lastName">
  </div>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="itemInput3">Passwort:</label>
    <input type="password" class="form-control" id="itemInput3">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="insert()">Speichern</button>
  <button type="button" class="btn btn-outline-dark"
          (click)="activeModal.dismiss()">Schließen
  </button>
</div>
